@model IEnumerable<WelcomeUser.Models.UserResponse>

@{
    Layout = null;
}
<!doctype html>
<html>
    <head>
        <title>Vote List</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <meta name="viewport" content="width=device-width"/>
    </head>
    <body>
        <div class="text-center p-2">
            <h2 class="text-center">People eligible to vote!</h2>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr><th>Name</th><th>Mail</th><th>College name</th></tr>
                </thead>
                <tbody>
                    @foreach(WelcomeUser.Models.UserResponse m in Model!)
                {
                    <tr>
                        <td>@m.Name</td>
                        <td>@m.Email</td>
                        <td>@m.CollegeName</td>
                    </tr>
                }
            </tbody>
            </table>
        </div>
    </body>
</html>